@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import "tailwindcss";


.rubik-mono-one-regular {
  font-family: "Rubik Mono One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Rubik Mono One", serif;
  font-weight: 400;
  font-style: normal;
}